backups/OvhKWQIC5rRWQmLL.json
{
  "updatedAt": "2025-08-19T04:38:54.463Z",
  "createdAt": "2025-08-15T16:00:02.030Z",
  "id": "OvhKWQIC5rRWQmLL",
  "name": "Meeting Summarizer",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "cd /home/gbacs/apps/;\nrm -rf srt-merge;\ngit clone https://github.com/ElevenZwei/srt-merge.git;\ncd srt-merge; npm install;\ncp /mnt/downloads/recordings/*.txt .;\ntouch record1.txt;\ntouch record2.txt;\ntouch record3.txt;\ntouch record4.txt;\ntouch record5.txt;\nscripts/merge-script.js record1.txt record2.txt -o -f recording1.srt;\nscripts/merge-script.js recording1.srt record3.txt -o -f recording2.srt;\nscripts/merge-script.js recording2.srt record4.txt -o -f recording3.srt;\nscripts/merge-script.js recording3.srt record5.txt -o -f recording.srt;\ncp ./recording.srt /mnt/downloads/recordings;"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -48,
        -64
      ],
      "id": "f5e4897e-44bb-4b35-877c-1865019bda2a",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "/mnt/downloads/recordings/recording.srt",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        176,
        -64
      ],
      "id": "f6602d73-0e48-4c32-943a-da37cf90c9a7",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        400,
        -64
      ],
      "id": "c793a6ab-4d92-481e-a6fd-6d2184487dea",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.item.json.data }}",
        "options": {
          "systemMessage": "You are a meeting organiser agent,output in HTML"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        832,
        -64
      ],
      "id": "c5f88ac4-8498-4bb5-9978-26289efffc39",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "openai/gpt-oss-20b",
          "mode": "list",
          "cachedResultName": "openai/gpt-oss-20b"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        160
      ],
      "id": "a80cc7cd-568e-41be-abc1-6766b0902c33",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "f7w1w21IJI9gIfih",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ '/mnt/downloads/recordings/recording-' + new Date().toISOString().replace(/-|T|:|\\..+/g, '').slice(0, 14) +'.html' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1408,
        -64
      ],
      "id": "09e71a2c-f325-44b4-a392-05665688556d",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "jsCode": "items[0].binary = {\n  data: {\n    data: new Buffer($input.first().json.output.replace('```html','').replace('```','')).toString('base64')\n  }\n};\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        -64
      ],
      "id": "30b1bf14-4d45-4dad-a0f1-925e8de5582b",
      "name": "Code"
    },
    {
      "parameters": {
        "path": "api/v1.0/summarize",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        -224
      ],
      "id": "afcbf575-f39e-4b62-849d-b40e0e5cf4bd",
      "name": "Webhook",
      "webhookId": "d57d1ec1-5d99-4953-b774-b53da2f97f75"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        -80
      ],
      "id": "2c6a2c16-c462-47a2-9972-bb5f2d0a802f",
      "name": "Click"
    },
    {
      "parameters": {
        "jsCode": "$input.first().json.data = $input.first().json.data.replace(/\\d+\\n\\d{2}:\\d{2}:\\d{2},\\d{3} --> \\d{2}:\\d{2}:\\d{2},\\d{3}\\n/g, '').replace(/\\n\\n/g,'\\n');\n\nreturn $input;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -64
      ],
      "id": "14e32ef2-1f38-4e39-b5ad-bdb7f47d2ce3",
      "name": "Code1"
    }
  ],
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Click": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "0a415243-ca5e-4f04-a85d-d3afc056eb4e",
  "versionCounter": 9,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-08-15T16:00:02.030Z",
      "createdAt": "2025-08-15T16:00:02.030Z",
      "role": "workflow:owner",
      "workflowId": "OvhKWQIC5rRWQmLL",
      "projectId": "FlFnx4GL1IzMIs6I",
      "project": {
        "updatedAt": "2025-08-15T14:30:55.517Z",
        "createdAt": "2025-08-15T14:30:31.525Z",
        "id": "FlFnx4GL1IzMIs6I",
        "name": "Gergo Bacskai <gbacskai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}