backups/qgr6OmZg0yWEGGIQ.json
{
  "createdAt": "2025-08-08T03:15:02.940Z",
  "updatedAt": "2025-08-18T05:43:58.902Z",
  "id": "qgr6OmZg0yWEGGIQ",
  "name": "Extract emails from website HTMLs",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "Email",
        "options": {}
      },
      "id": "f28a0602-f02c-4f41-8bbf-dfd46d0def87",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1952,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "d995d088-9be1-4a64-a533-d764587b3ae4",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        2416,
        464
      ],
      "retryOnFail": true,
      "typeVersion": 1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b64f9bc5-7e85-41df-b27c-10d53df6809f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        2672,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n* Scraping emails from websites using an api",
        "height": 309.99889350400827,
        "width": 1764.2311804548722,
        "color": 4
      },
      "id": "466cf9ce-4baf-45f9-bd70-d2041c20605e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n* Call the webhook using a query parameter eg \n\nhttp://localhost:5678/webhook/ea568868-5770-4b2a-8893-7e?Website=https://mailsafi.com\n\nHTTP request rest the query Website and gets the emails therein",
        "height": 249.39327996703526,
        "width": 520.3009626085002,
        "color": 5
      },
      "id": "566ca1f5-b6c4-4566-97e7-59bc2d616e1c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        672
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# How to scrap emails from websites\n\nThis workflow shows how you can quickly build an Email scraping API using n8n.\nUsage\nCopy the webhook URL to your browser and add a query parameter eg {{$n8nhosteingurl/webhook/ea568868-5770-4b2a-8893-700b344c995e?Website=https://mailsafi.com\nThis will return the email address on the website or if there is no email, the response will be \"workflow successfully executed\"\n\n# Make sure to use HTTP:// for your domains\n\nOtherwise, you may get an error. \n\n\n\n",
        "height": 430.0825742795921,
        "width": 728.4741979436378
      },
      "id": "ea95c9a3-b7c8-4288-8fdf-6504caee46f4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "ea568868-5770-4b2a-8893-700b344c995e",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "05d4e9d4-d803-4e74-b4d0-166f4873dbca",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        1296,
        480
      ],
      "webhookId": "ea568868-5770-4b2a-8893-700b344c995e",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "url": "={{ $json.query['Website'] }}",
        "options": {}
      },
      "id": "555c8f81-25ea-4be5-b260-7b6039c705a8",
      "name": "Get the website data",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1536,
        480
      ],
      "retryOnFail": true,
      "typeVersion": 4.1,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "80a8a8ec-9ac7-4545-beab-390732218548",
              "name": "Email",
              "type": "array",
              "value": "={{$json.data.match(/(?:[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,})/g)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e83b38b8-dc13-49eb-9482-1dbd8a9ef583",
      "name": "Extract the emails found",
      "type": "n8n-nodes-base.set",
      "position": [
        1728,
        480
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "701ead8f-02ba-4689-8054-9e40d9b9f770",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.Email }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "3fe56efc-0d7b-4e0f-8f9c-3b10ce59cb94",
      "name": "If contains email",
      "type": "n8n-nodes-base.if",
      "position": [
        2160,
        480
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get the website data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "If contains email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If contains email": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the website data": {
      "main": [
        [
          {
            "node": "Extract the emails found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract the emails found": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "2134"
  },
  "pinData": {},
  "versionId": "651a11bc-1895-47db-a3f5-890f736634f5",
  "triggerCount": 0,
  "tags": []
}