backups/ZqCXLW4YF1GYGmPa.json
{
  "createdAt": "2025-09-09T09:00:08.801Z",
  "updatedAt": "2025-09-09T09:22:41.856Z",
  "id": "ZqCXLW4YF1GYGmPa",
  "name": "Docflow4",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -96
      ],
      "id": "c3e493f0-f999-4c7b-b5a4-8968e998634c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "endpoint": "https://tozuziswmfcitm3lnmsv4ij7nq.appsync-api.ap-southeast-2.amazonaws.com/graphql",
        "requestFormat": "graphql",
        "query": "={{ $json.query }}",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1.1,
      "position": [
        -80,
        -96
      ],
      "id": "d3ebf8ae-e8f9-44ea-b854-e88ef1998faa",
      "name": "GraphQL",
      "credentials": {
        "httpHeaderAuth": {
          "id": "hFhObbZejf9othAX",
          "name": "AWS Sandbox Authentication"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2e553344-ce0a-4362-a543-04ac717a487a",
              "leftValue": "={{ $json.data.listDocumentTypes.nextToken }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -96
      ],
      "id": "36573a65-2680-42a6-9ac7-c3f57a11059b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "var filter = {and: [{identifier: {eq: \"abc\"}}, {active: {eq: true}}]};\nvar items = \"id identifier \";\nvar limit = 5;\nvar documewnt = \"listDocumentTypes\"\nvar query = \"{ query : {\" +documewnt + \"(limit: \" + limit + \", filter:\" + JSON.stringify(filter) + \") { items {\"+items+\" } nextToken } }}\" ;\n\n\nreturn { query :  query  }\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -96
      ],
      "id": "4fca7c74-c494-4802-8281-4001f687bcec",
      "name": "Code"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "30267c66-bc01-4334-ac00-9f7f1dbb3b73",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-09T09:00:08.801Z",
      "updatedAt": "2025-09-09T09:00:08.801Z",
      "role": "workflow:owner",
      "workflowId": "ZqCXLW4YF1GYGmPa",
      "projectId": "FlFnx4GL1IzMIs6I",
      "project": {
        "createdAt": "2025-08-15T14:30:31.525Z",
        "updatedAt": "2025-08-15T14:30:55.517Z",
        "id": "FlFnx4GL1IzMIs6I",
        "name": "Gergo Bacskai <gbacskai@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}